body{
  margin: 0px;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  width: 100%;

}
.App{
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  display: flex;
  align-items: center;
    justify-content: space-between;
    width: 60%;
}
header button{
  background-color: grey;
  height: 30px;
  width: 150px;
  border: none;
  color: white;
}
.input-container{
  display: flex;
  align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;

}
.input-container input{
  width: 87%;
  border-radius: 20px;
  border: 1px solid rgb(213, 212, 212);
  height: 30px;
}
.input-container button{
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
  color: aliceblue;
}
.image-conatiner{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-conatiner img{
  width: 300px;
  margin: 5px;
  position: relative;
}
.image-conatiner button{
  position: fixed;
  height: 50px;
  background-color: rgb(5, 24, 62);
  color: aliceblue;
  margin-bottom: 500px;
}

